<div class="row">
  <div class="large-12 columns">
    <%= form_tag controller: "application", action: "show" do |f| %>
        <%= label_tag :host, "Jira Host:" %>
        <%= text_field_tag :host %>

        <%= label_tag :context, "Jira Context:" %>
        <%= text_field_tag :context %>

        <%= label_tag :username, "Username:" %>
        <%= text_field_tag :username %>

        <%= label_tag :password, "Password:" %>
        <%= password_field_tag :password %>

        <%= label_tag :jql, "Jql:" %>
        <%= text_field_tag :jql %>

        <%= button_tag "Go" %>
    <% end %>
  </div>
</div>
